@font-face {
  font-family: 'Inconsolata';
  src: url('https://fonts.googleapis.com/css?family=Inconsolata');
}

@font-face {
  font-family: 'Oxygen';
  src: url('https://fonts.googleapis.com/css?family=Oxygen:400,300');
}

#ft{
  font-family: 'Oxygen';
}

#ct{
  /*background-color: #a8d1c8*/
  font-family: 'Inconsolata';
}
